@import url('https://fonts.googleapis.com/css2?family=Castoro+Titling&family=Gaegu:wght@300;400&family=Space+Mono:wght@700&display=swap');

* {
    margin: 0;
    padding: 0;
}
body {
    background: black;
    font-family: 'Gaegu';
}
.intro {
    display: flex;
    justify-content: center;

}
h1 {
    color: whitesmoke;
    text-align: center;
}

.about-me__container {
    color: whitesmoke;
    display: flex;
    justify-content: center;
    flex-direction: column;

}

.about-me__slide {
    overflow: auto;
}
.wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.box {
    width: 100vh;
    height: 75vh;
    border-radius: 15px;
    padding: 2rem;
    background: black;
    overflow: auto;
    animation: animate 1s linear infinite;
    box-shadow: 0 0 50px palevioletred, 
                0 0 50px paleturquoise;                
}
h1 {
    padding-bottom: 2rem;
    padding-top: 0;
}
@keyframes animate {
    0% {
        filter: hue-rotate(0deg);
    }
    100% {
        filter: hue-rotate(360deg);
    }
}